@import 'assets/styles/base/variables';
@import 'assets/styles/base/mixins';

%shared-card {
  width: 100%;
  text-align: center;
  height: 100%;
  font-weight: 600;
  max-width: 400px;
  margin: auto;
}

.home {
  width: 100%;
  min-height: 100%;
  padding: 16px;

  & .banner {
    width: 100%;
    height: auto;

    & video {
      width: 100%;
    }

    & .desc {
      color: $color-dark;
    }
  }

  & .actions {
    display: flex;
    justify-content: flex-end;
    @include my(32);

    & .button {
      background-color: $color-btn;
      color: $color-dark;
      box-shadow: 0 16px 32px rgba(0, 0, 0, 50%);
      border-radius: 4px;
      font-weight: 600;
      margin: 8px 16px;
      padding: 8px 12px;
      text-decoration: none;
    }
  }

  & .intro {
    background-color: rgba(74, 145, 226, 0.1);
    padding: 32px 16px;

    & .card {
      @extend %shared-card;
    }

    & .header {
      width: 100%;
      max-width: 480px;
      margin: auto;
      @include my(32);
      
      & .title {
        @extend %shared-card;
        background-color: transparent;
        box-shadow: none;
      }
    }
  }
}

.tut-paper {

  background-color: rgba(74, 145, 226, 0.1);
  @include my(16);

  & .title {
    font-weight: 600;
    @include my(16);
  }

  & h5 {
    font-size: 1.125rem;
    @include my(16);
  }

  & p {
    font-size: 0.875rem;
    @include my(16);
  }
}

.contact-link {
  margin-left: 16px;
  text-decoration: none;
}