.simple-paper {
  padding: 16px 16px 8px !important;
}

.auth-paper, .simple-paper {
  & .title {
    text-align: center;
    font-weight: 600;
  }

  & .avatar {
    margin: auto;
    width: 48px;
    height: 48px;
  }
}

.auth-form {
  margin: 16px 0;

  & .input {
    margin-top: 16px
  }

  & .actions {
    margin: 24px 0;
  }

  & .links {
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
      text-transform: none;
    }
  }
}
