@import './base/placeholders';

.m-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fw-600 {
  font-weight: 600 !important;
}

.flex {
  display: flex !important;
}

.flex-center {
  justify-content: center !important;
  align-items: center !important;
}

.error {
  font-size: 1rem;
  color: red;
}

.dialog {
  position: fixed;
  @extend %transform-center;
  border-radius: 4px;
  padding: 24px;
  background: white;

  .body {
    padding: 24px 0;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    column-gap: 8px;
  }
}

.form-title {
  font-weight: 600 !important;
  text-align: center;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-block {
  display: block !important;
}
