%shared-layout {
  height: 100vh;
  width: 100%;
  display: flex;
}

%shared-header {
  height: 4rem;
  display: flex;
}

%shared-footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.public-layout {
  @extend %shared-layout;
  flex-direction: column;

  & header {
    @extend %shared-header;
    justify-content: space-between;

    & .menu-item {
      color: white;
      text-decoration: none;
    }
  }

  & main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & footer {
    @extend %shared-footer;
  }
}

.private-layout {
  @extend %shared-layout;

  & header {
    @extend %shared-header;
    justify-content: space-between;
  }

  & main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & footer {
    @extend %shared-footer;
  }
}